<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dwh.bi.common.mapper.DataSourceRegisterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dwh.bi.common.domain.DataSourceRegister">
        <result column="ID" property="id" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATE_USER" property="createUser" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="UPDATE_USER" property="updateUser" />
        <result column="SOURCE_NAME" property="sourceName" />
        <result column="SOURCE_TYPE" property="sourceType" />
        <result column="SOURCE_IP" property="sourceIp" />
        <result column="SOURCE_PORT" property="sourcePort" />
        <result column="USER_NAME" property="userName" />
        <result column="USER_PASSWORD" property="userPassword" />
        <result column="REMARK" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID,
        CREATE_TIME,
        CREATE_USER,
        UPDATE_TIME,
        UPDATE_USER,
        SOURCE_NAME, SOURCE_TYPE, SOURCE_IP, SOURCE_PORT, USER_NAME, USER_PASSWORD, REMARK
    </sql>

</mapper>
